      .subscribe-button {
        background-color: rgb(136, 1, 1);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: opacity 0.15s;

        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .subscribe-button:hover {
        opacity: 0.8;
      }
      .subscribe-button:active {
        opacity: 0.5;
      }
      .join-button {
        color: rgb(5, 140, 202);
        border-color: rgb(5, 140, 202);
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 1s, color 1s;

        padding-left: 25px;
        padding-right: 25px;
        padding-top: 9px;
        padding-bottom: 9px;
      }
      .join-button:hover {
        background-color: rgb(5, 140, 202);
        color: white;
      }
      .join-button:active {
        opacity: 0.8;
      }
      .tweet-button {
        background-color: rgb(5, 140, 202);
        color: white;
        border-style: solid;
        border: none;
        border-radius: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 5px;
        transition: box-shadow 0.2s;

        padding: 15px 10px 15px 10px;
      }
      .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }